<div class="dropdown">
    <buton  
    @onclick="ToggleUserMenu"
           
          
            class="btn btn-secondary dropdown-toggle user-button"
    >
        <i class="oi oi-person"></i>
    </buton>
    <div class="dropdown-menu dropdown-menu-right @UserMenuCssClass"  @onfocusout="HideUserMenu"  >
        <a href="register" class="dropdown-item">Register</a>
        <a href="login" class="dropdown-item">Login</a>
    </div>
</div>

@code {
    private bool showUserMenu = false;

    private string UserMenuCssClass => showUserMenu ? "show-menu" : "";

    private void ToggleUserMenu()
    {
        showUserMenu = !showUserMenu;
    }

    private async Task HideUserMenu()
    {
        await Task.Delay(500);
        showUserMenu = false;
    }


}
